[submodule "stubs/protevus"]
	path = stubs/protevus
	url = https://git.protevus.com/protevus/protevus.git
[submodule "stubs/mobile"]
	path = stubs/mobile
	url = https://git.protevus.com/protevus/mobile.git
[submodule "stubs/IoT"]
	path = stubs/IoT
	url = https://git.protevus.com/protevus/IoT.git
[submodule "stubs/console"]
	path = stubs/console
	url = https://git.protevus.com/protevus/console.git
[submodule "stubs/service"]
	path = stubs/service
	url = https://git.protevus.com/protevus/service.git
[submodule "stubs/desktop"]
	path = stubs/desktop
	url = https://git.protevus.com/protevus/desktop.git
[submodule "stubs/web"]
	path = stubs/web
	url = https://git.protevus.com/protevus/web.git
[submodule "resources/branding"]
	path = resources/branding
	url = https://git.protevus.com/protevus/branding.git
[submodule "stubs/ignition"]
	path = stubs/ignition
	url = https://git.protevus.com/protevus/ignition.git